<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" android:installLocation="auto" package="com.initialcoms.ridi" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:fullBackupContent="@xml/appsflyer_backup_rules" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.ridi.books.viewer.RidibooksApp" android:requestLegacyExternalStorage="true" android:supportsRtl="true" android:theme="@style/RidiTheme.Dark">
        <activity android:configChanges="orientation|screenSize" android:exported="true" android:launchMode="singleTask" android:name="com.ridi.books.viewer.main.activity.SplashActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/long_touch_shortcuts"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="download" android:scheme="ridi"/>
                <data android:host="showCloud" android:scheme="ridi"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.epub" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.txt" android:scheme="file"/>
                <data android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.pdf" android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/epub+zip"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/pdf"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="ridi.onelink.me" android:pathPrefix="/fRWt" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="ridi"/>
            </intent-filter>
        </activity>
        <activity android:alwaysRetainTaskState="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.ridi.books.viewer.main.activity.MainActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.main.activity.StoreBookDetailsActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.main.activity.RecentBooksActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.main.activity.ReadingNoteWebViewActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.main.activity.NotiCenterActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.main.activity.FileBrowserActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden" android:name="com.ridi.books.viewer.reader.bom.BomReaderActivity" android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="com.samsung.android.support.REMOTE_ACTION"/>
            </intent-filter>
            <meta-data android:name="com.samsung.android.support.REMOTE_ACTION" android:resource="@xml/s_pen_remote_action"/>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden" android:name="com.ridi.books.viewer.reader.epub.EPubReaderActivity" android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="com.samsung.android.support.REMOTE_ACTION"/>
            </intent-filter>
            <meta-data android:name="com.samsung.android.support.REMOTE_ACTION" android:resource="@xml/s_pen_remote_action"/>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.pagebased.comic.ComicBookReaderActivity">
            <intent-filter>
                <action android:name="com.samsung.android.support.REMOTE_ACTION"/>
            </intent-filter>
            <meta-data android:name="com.samsung.android.support.REMOTE_ACTION" android:resource="@xml/s_pen_remote_action"/>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.pagebased.comic.webtoon.WebtoonReaderActivity">
            <intent-filter>
                <action android:name="com.samsung.android.support.REMOTE_ACTION"/>
            </intent-filter>
            <meta-data android:name="com.samsung.android.support.REMOTE_ACTION" android:resource="@xml/s_pen_remote_action"/>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.pagebased.pdf.PDFReaderActivity">
            <intent-filter>
                <action android:name="com.samsung.android.support.REMOTE_ACTION"/>
            </intent-filter>
            <meta-data android:name="com.samsung.android.support.REMOTE_ACTION" android:resource="@xml/s_pen_remote_action"/>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.bom.BomTextSearchResultActivity" android:theme="@style/RidiTheme.TextSearchResult" android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.epub.EPubTextSearchResultActivity" android:theme="@style/RidiTheme.TextSearchResult" android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.activity.MemoEditorActivity" android:theme="@style/RidiTheme.MemoEditor" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.activity.ZoomActivity" android:theme="@style/RidiTheme.Transparent"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.activity.FinalPageActivity" android:theme="@style/RidiTheme.Panel"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.activity.ReaderSettingsActivity" android:theme="@style/RidiTheme.White"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.activity.PagingTouchModeSettingActivity" android:theme="@style/RidiTheme.White"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.activity.ReaderInfoSettingsActivity" android:theme="@style/RidiTheme.White"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.activity.ReviewActivity"/>
        <activity android:name="com.ridi.books.viewer.reader.activity.TTSTimerSettingActivity" android:theme="@style/RidiTheme.Dialog.Holo.Light"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.activity.ShareActivity" android:screenOrientation="portrait" android:theme="@style/RidiTheme.Share"/>
        <activity android:name="com.ridi.books.viewer.common.activity.passcode.PasscodeActivity" android:theme="@style/Theme.AppCompat.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.ridi.books.viewer.common.activity.LongTouchShortcutDelegationActivity" android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.common.activity.WebViewActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.ridi.books.viewer.common.activity.LoginActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.ridi.books.viewer.common.activity.SignupActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="deeplink.ridibooks.com" android:path="/signup-finished" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.common.activity.ReplaceDeviceActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.common.activity.RidiCashActivity"/>
        <activity android:name="com.ridi.books.viewer.common.activity.ServiceStatusAlertActivity" android:theme="@style/RidiTheme.Panel"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.main.activity.LibraryGroupBooksActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.reader.activity.SerialCommentActivity" android:theme="@style/RidiTheme.White.NoActionBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.ridi.books.viewer.main.activity.OpenSourceLicensesActivity"/>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
        <activity android:excludeFromRecents="true" android:label="위젯 설정" android:name="com.ridi.books.viewer.widget.RecentBookWidgetConfigureActivity" android:screenOrientation="portrait" android:taskAffinity="com.ridi.books.viewer.task.TASK_WIDGET_CONFIGURATION" android:theme="@style/RidiTheme.Holo.Dark.Wallpaper">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="700c88b67b6d0fe14b635370b77a4256b00e0188"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="android.max_aspect" android:value="2.4"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="fb208688205808637"/>
        <service android:name="com.ridi.books.viewer.common.service.FileClearJobIntentService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.ridi.books.viewer.widget.RecentBookWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:exported="false" android:name="com.ridi.books.viewer.common.service.FcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="false" android:name="com.ridi.books.viewer.FcmNotificationReceiver">
            <intent-filter>
                <action android:name="com.ridi.books.viewer.action.FCM_NOTIFICATION"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.ridi.books.viewer.main.download.DownloadNotificationReceiver">
            <intent-filter>
                <action android:name="com.ridi.books.viewer.action.DOWNLOAD_NOTIFICATION"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.ridi.books.viewer.reader.SDCardBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL"/>
                <action android:name="android.intent.action.MEDIA_REMOVED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.ridi.books.viewer.widget.RecentBookWidgetProvider">
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_recent_book_conf"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.ridi.books.viewer.action.ACTION_CLICK_RECENT_BOOK_WIDGET_ITEM"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <service android:name="com.ridi.books.viewer.reader.service.TTSMediaPlayerService">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.appsflyer.SingleInstallBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.facebook.app.FacebookContentProvider208688205808637" android:exported="true" android:name="com.facebook.FacebookContentProvider"/>
        <provider android:authorities="com.ridi.books.viewer.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths"/>
        </provider>
        <meta-data android:name="com.bugsnag.android.API_KEY" android:value="207ee1dc2940964bb6317e9a810eb55d"/>
        <meta-data android:name="google_analytics_automatic_screen_reporting_enabled" android:value="false"/>
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="true"/>
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false"/>
        <provider android:authorities="com.initialcoms.ridi.reactnativefirebasecrashlyticsinitprovider" android:exported="false" android:initOrder="98" android:name="io.invertase.firebase.crashlytics.ReactNativeFirebaseCrashlyticsInitProvider"/>
        <meta-data android:name="firebase_performance_collection_enabled" android:value="true"/>
        <provider android:authorities="com.initialcoms.ridi.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.reactnativecommunity.webview.RNCWebViewFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths"/>
        </provider>
        <activity android:exported="false" android:name="com.appboy.ui.AppboyWebViewActivity"/>
        <activity android:exported="false" android:name="com.appboy.ui.activities.AppboyFeedActivity"/>
        <activity android:exported="false" android:name="com.appboy.ui.activities.AppboyContentCardsActivity"/>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.appboy.push.AppboyNotificationRoutingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:exported="false" android:name="com.appboy.BrazePushReceiver"/>
        <activity android:configChanges="orientation|screenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.pspdfkit.document.printing.PrintActivity"/>
        <provider android:authorities="com.initialcoms.ridi.com.pspdfkit.PSPDFKitInitializationProvider" android:exported="false" android:name="com.pspdfkit.PSPDFKitInitializationProvider"/>
        <provider android:authorities="com.initialcoms.ridi.pdf.assets" android:exported="false" android:name="com.pspdfkit.media.AssetsContentProvider"/>
        <provider android:authorities="com.initialcoms.ridi.pdf.share" android:exported="true" android:grantUriPermissions="true" android:name="com.pspdfkit.document.sharing.DocumentSharingProvider"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cct.com.initialcoms.ridi" android:scheme="fbconnect"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="androidx.biometric.DeviceCredentialHandlerActivity" android:theme="@style/DeviceCredentialHandlerTheme"/>
        <activity android:name="com.mikepenz.aboutlibraries.ui.LibsActivity"/>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.internal.FirebaseDynamicLinkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ndk.CrashlyticsNdkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamicloading.DynamicLoadingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="com.initialcoms.ridi.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.initialcoms.ridi.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider"/>
        <provider android:authorities="com.initialcoms.ridi.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <provider android:authorities="com.initialcoms.ridi.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:exported="false" android:name="com.twitter.sdk.android.tweetcomposer.ComposerActivity" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <service android:enabled="true" android:exported="false" android:name="com.twitter.sdk.android.tweetcomposer.TweetUploadService"/>
        <activity android:configChanges="orientation|screenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.twitter.sdk.android.core.identity.OAuthActivity"/>
        <receiver android:exported="false" android:name="com.appboy.receivers.AppboyActionReceiver"/>
    </application>
</manifest>